/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Prevent zoom on double tap/click */
button {
  touch-action: manipulation;
}

/* White spinner for orange buttons */
.white-spinner circle {
  stroke: white !important;
}
